h1{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 4%;
    color: darkblue;
}

label{
    font-weight: 600;
}

.container{
    margin-top: 4%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}


form{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 49%;
    margin-left: 25%;
    height: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
}
input{
    margin-top: 5px;
    height: 25px;
    /* border-radius: 0px; */
    width: 95%;
}


.ddropdown{
    float: left;
    margin-top: 5px;
}

.ddropdown label {
    display: block;
    margin-bottom: 8px;
    font-family: 'roboto';
    font-weight: 600;
}

select{
    border: 1px solid #555;
    height: 30px;
    width: 150px;
    padding: 0px 0px;
    margin-right: 10px;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 5%;
    padding: 10px;
}
.btn{
    width: 120px;
    height: 30px;
    /* margin: 17% 0px 2% 20%; */
    background: darkblue;
    color: white;
    font-weight: 600;
    border: 0.5px solid black;
}